@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message v. @ViewBag.Version</h3>

<p>Данное приложение предназначено для ведения учета прихода/расхода материалов</p>

<address>
    <table>
        <tr>
            <td colspan="2">
                ООО "ИНСТИТУТ ЮЖНИИГИПРОГАЗ"
            </td>
        </tr>
        <tr>
            <td>
                <abbr title="Author">Разработчик: </abbr>
            </td>
            <td>
                Михальченков Дмитрий Александрович
            </td>
        </tr>
        <tr>
            <td>
                <abbr title="Phone">Телефон: </abbr>
            </td>
            <td>
                70-20
            </td>
        </tr>
        <tr>
            <td>
                <abbr title="E-Mail">Поддержка: </abbr>
            </td>
            <td>
                <a href="mailto:dm@ungg.net">dm@ungg.net</a>
            </td>
        </tr>
    </table>
</address>
